<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="devolucaoAvariaController">
    <div role="main">      
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="dashboard_graph">
                        <div class="row x_title">
                            <div class="col-md-6">
                                <h3>Devoluções e Avarias<small></small></h3>
                            </div>  
                            <div class="col-md-6">
                                <div class="pull-right " style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; border-radius: 2px"> 
                                    <div class="pull-right"  style="margin: auto" >
                                        <input type="date" style="width:125px;font-size: 13px; margin-top: 5px;" ng-model="filtro.dataInicial"> Até
                                        <input type="date" style="width:125px;font-size: 13px; margin-top: 5px; margin-right: 10px" ng-model="filtro.dataFim">   
                                        <button class="btn btn-round btn-default pull-right" type="button" ng-click="pesquisaDevolucaoAvariaPH('','')" ><span class="glyphicon glyphicon-search"style="color:#2A3F54" aria-hidden="true"></span></button>    
                                    </div>                                                                   
                                </div>
                            </div>   
                        </div>   

                        <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="divGeral">
                            <div class="row">
                                <div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="x_content" >

                                            <!-- ========================= TELA DE VISUALIZAR FORNECEDOR ========================= -->  
                                            <div class="row" ng-show ="divVisualizar">
                                                <div class="">
                                                    <div class="cabecalhoDiv">
                                                        <span class="titulo">Devoluções e Avarias Cadastradas</span>
                                                        <button class="pull-right btn btn-success col-xs-2 col-sm-2 col-md-2 col-lg-2 hidden-xs"  ng-click="menu(1)"><small>Cadastrar Campanha</small></button> 
                                                    </div>
                                                    <div class="cabecalhoGeralDiv">                                                    
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>   
                                                                    <th></th> 
                                                                    <th>Data</th>
                                                                    <th>Nota Fiscal</th>
                                                                    <th>Valor da NF</th>
                                                                    <th>Referente A:</th>
                                                                    <th>Status</th>
                                                                    <th>Pagamento </th>                                                                                                                                                    
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat=" i in devolucaoeAvarias">                                                                    
                                                                    <td><a href="" ng-click="pesquisaDevolucaoAvariaPH(i.id,'E')"><button style="font-size: 8px" class="glyphicon glyphicon-pencil btn btn-warning" title="Editar Campanha" ></button></td>    
                                                                    <td>{{ i.data }}</td> 
                                                                    <td>{{ i.notaFiscal }}</td> 
                                                                    <td>{{ i.valorNF | currency: 'R$ ' }}</td> 
                                                                    <td><span ng-show="i.referente == 'D'">Devolução</span> <span ng-show="i.referente == 'A'">Avaria</span></td> 
                                                                    <td>
                                                                        <span class="corSuccess" ng-show="i.statusDevolucao == 'L'">Liberado</span> 
                                                                        <span class="corError"  ng-show="i.statusDevolucao == 'AL'">A Liberar</span>
                                                                    </td>                                                             
                                                                    <td>
                                                                        <span class="corSuccess" ng-show="i.statusDevolucao == 'L'">Pago</span> 
                                                                        <span  class="corError" ng-show="i.statusDevolucao == 'AL'">Em Aberto</span>
                                                                    </td>                                         
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>                                          
                                                </div>   
                                            </div>   

                                            <!-- ========================= TELA DE CADASTRAR FORNECEDOR  ========================= -->   
                                            <div class="row" ng-show="divFormulario" >
                                                <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">                                                                
                                                    <span class="section"> Cadastro Devoluções e Avarias</span>
                                                    
                                                    <form class="form-horizontal" name="formCadastro" ng-submit="formCadastro.$valid && formularioDadosDevolucaoAvariaPH()" novalidate="novalidate"> 
                                                                                           
                                                        <div class="item form-group">
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                <label>Data <b class="corError">*</b></label>   
                                                                <input type="date" class="form-control" name="data" ng-model="formularioDados.data" required="required">
                                                                <small class="corError" ng-if="(formCadastro.data.$touched || formCadastro.$submitted) && formCadastro.data.$invalid" >Este campo é obrigatório</small>
                                                            </div>                                                           
                                                        </div>   
                
                                                        <div class="item form-group">
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                <label>Nota Fiscal <b class="corError">*</b></label>
                                                                <input type="text" class="form-control" name="notaFiscal" ng-model="formularioDados.notaFiscal" required="required">
                                                                <small class="corError" ng-if="(formCadastro.notaFiscal.$touched || formCadastro.$submitted) && formCadastro.notaFiscal.$invalid">Este campo é obrigatório</small>
                                                            </div>                                                           
                                                        </div> 
                                                        
                                                        <div class="item form-group">
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                <label>Valor da NF<b class="corError">*</b></label>                                                           
                                                                <input type="text" class="form-control" name="valorNF" ng-model="formularioDados.valorNF" data-thousands="." data-decimal="," id="valorNF" required="required">
                                                                <small class="corError" ng-if="(formCadastro.valorNF.$touched || formCadastro.$submitted) && formCadastro.valorNF.$invalid">Este campo é obrigatório</small>
                                                            </div>                                                            
                                                        </div>  
                
                                                        <div class="item form-group">
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                <label>Referente A: <b class="corError">*</b></label>                                     
                                                                <select  class="form-control" ng-model="formularioDados.referente" name="referente" required>
                                                                    <option ng-selected="formularioDados.referente" ng-value="''" value="''" required>SELECIONE A REFERÊNCIA</option>
                                                                    <option ng-repeat="i in referenteHavan" ng-selected="formularioDados.referente == i.id" ng-value="i.id" value="i.id">{{i.name}}</option>
                                                                </select>  
                                                                <small class="corError" ng-if="(formCadastro.referente.$touched || formCadastro.$submitted) && formCadastro.referente.$invalid">Este campo é obrigatório</small>
                                                            </div>                                                           
                                                        </div> 

                                                        <div class="item form-group">
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                <label>Status <b class="corError">*</b></label>                                     
                                                                <select  class="form-control" ng-model="formularioDados.statusDevolucao" name="statusDevolucao" required>
                                                                    <option ng-selected="formularioDados.statusDevolucao" ng-value="''" value="''" required>SELECIONE O STATUS</option>
                                                                    <option ng-repeat="i in statusDevolucao" ng-selected="formularioDados.statusDevolucao == i.id" ng-value="i.id" value="i.id">{{i.name}}</option>
                                                                </select>  
                                                                <small class="corError" ng-if="(formCadastro.statusDevolucao.$touched || formCadastro.$submitted) && formCadastro.statusDevolucao.$invalid">Este campo é obrigatório</small>
                                                            </div>                                                           
                                                        </div> 
                                                                                                        
                                                        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px">
                                                            <button ng-show="botaoVolta" type="button"class="btn btn-primary" ng-click="menu(2)">Voltar</button>
                                                            <button type="submit"class="btn btn-primary"><span ng-if="buttonEditar == false">Cadastrar</span> <span ng-if="buttonEditar">Editar</span>  </button>
                                                        </div>  
                
                                                        <legend class="col-md-12 col-sm-12 col-xs-12"></legend> 
                                                        <div class="form-group col-md-6">
                                                            <label>Os campos marcados com (<b style="color:red">*</b>) são obrigatórios </label>                                                          
                                                        </div>  
                                                    </form>                                                    
                                                </div>
                                            </div> 

                                        </div>                                        
                                    </div>
                                </div>                                                           
                            </div> 
                        </div>   
                         
                        <!-- FIM CLASS ROW -->    
                    <div class="clearfix"></div>
                </div>
            </div>   
        </div>
        <br/>
    </div> 
</div>

