<div class="col-md-12 col-sm-12 col-xs-18 " ng-controller="monitorTelevendasController">  
    <div role="main">
        <div class="row">
            <div class="col-md-12 col-sm-20 col-xs-12">
                <div class="dashboard_graph">
                    <div class="row x_title">
                        <div class="col-md-6">
                            <h1>Monitor Consultores Internos<small></small></h1>
                        </div>
                        <!--
                        <div class="col-md-6">
                            <div class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">                                
                                <input type="date" style="width:125px;font-size: 13px" ng-model="filtro.dataInicial">Até
                                <input type="date" style="width:125px;font-size: 13px" ng-model="filtro.dataFim">    
                                <button class="btn btn-default" type="button" style="height:35px;font-size: 13px"  ng-click="atcMonitor()">Atualizar</button>
                            </div>
                        </div>  -->     
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div> 
            
           <div class="row">            
                <div class="animated flipInY col-md-12 col-sm-20 col-xs-12" ng-show="divGeral" >
                    <!-- ========== META GERAL ========== -->
                    <div ng-show="showPainel == 1"   class="animated flipInY col-md-12 col-sm-20 col-xs-12">
                        <div class="tile-stats espacamentoTVAtacado">
                                <h3 style="font-size: 100px;text-align: center!important;">Meta - Interna</h3>
                           <div>                         
                                <div class="icon"><i class="fa fa-line-chart"></i></div>                          
                                <div class="espacamentoTVAtacadoDentro">
                                    <div class="col-md-12"><p style="font-size: 80px; color: rgb(64, 190, 165);">Mensal</p></div>  
                                    
                                        <div>
                                            <progress-bar cur-val='{{metaMensal}}' max-val='100'></progress-bar>
                                        </div>
        
                                        <div class="col-md-12"><p style="font-size: 80px; color: rgb(64, 190, 165);">Diária</p></div>   
                                                                        
                                        <div>
                                            <progress-bar cur-val='{{metaDiaria}}' max-val='100'></progress-bar>
                                        </div>

                                    </div>                          
                                </div>  
                        </div>
                    </div>  

                    <div ng-show="showPainel == 2"  class="animated flipInY col-md-12 col-sm-20 col-xs-12">
                        <div class="tile-stats espacamentoTVAtacado espacamentoTVAtacadoDentro1">
                            <div class="icon"><i class="fa fa-group"></i></div>
                            <div class="count" style="font-size: 300px" ><center>{{ visAtcMonitor.positivados_mes }}</center></div>
                            <center><h3 style="font-size: 110px">Positivados / Mês</h3></center>
                            <center><p style="font-size: 60px">Clientes positivados no mês</p></center>
                        </div>
                    </div> 
                
                    <div ng-show="showPainel == 3" class="animated flipInY col-md-12 col-sm-20 col-xs-12">
                        <div class="tile-stats espacamentoTVAtacado espacamentoTVAtacadoDentro1">
                            <div class="icon"><i class="fa fa-male"></i> </div>
                            <div class="count" style="font-size: 300px" ><center>{{ visAtcMonitor.positivados_dias }}</center></div>
                            <center><h3 style="font-size: 110px">Positivados / Dia</h3></center>
                            <center><p style="font-size: 60px">Clientes positivados no dia</p></center>
                        </div>
                    </div> 
              
                    <div ng-show="showPainel == 4" class="animated flipInY col-md-12 col-sm-20 col-xs-12">
                        <div class="tile-stats espacamentoTVAtacado espacamentoTVAtacadoDentro1">
                            <div class="icon"><i class="fa fa-calculator"></i></div>
                            <div class="count" style="font-size: 300px" ><center>{{ visAtcMonitor.pedidos_mes }}</center></div>
                            <center><h3 style="font-size: 110px">Pedidos / Mês</h3></center>
                            <center><p style="font-size: 60px">Pedidos efetuados no mês</p></center>
                        </div>
                    </div>
                    
                    <div ng-show="showPainel == 5" class="animated flipInY col-md-12 col-sm-20 col-xs-12">
                        <div class="tile-stats espacamentoTVAtacado espacamentoTVAtacadoDentro1">
                            <div class="icon"><i class="fa fa-calculator"></i></div>
                            <div class="count" style="font-size: 300px" ><center>{{ visAtcMonitor.pedidos_dia }}</center></div>
                            <center><h3 style="font-size: 110px">Pedidos / Dia</h3></center>
                            <center><p style="font-size: 60px">Pedidos efetuados no dia</p></center>
                        </div>
                    </div>
               
                    <div ng-show="showPainel == 6" class="animated flipInY col-md-12 col-sm-20 col-xs-12">
                        <div class="tile-stats espacamentoTVAtacado espacamentoTVAtacadoDentro1">
                            <div class="icon"><i class="fa fa-lock"></i></div>
                            <div class="count" style="font-size: 300px" ><center>{{ visAtcMonitor.clientes_novos }}</center></div>
                            <center><h3 style="font-size: 110px">Novos Clientes / Mês</h3></center>
                            <center><p style="font-size: 60px">Venda para novos clientes no mês</p></center>
                        </div>
                    </div> 
                
                    <div ng-show="showPainel == 7" class="animated flipInY col-md-12 col-sm-20 col-xs-12">
                        <div class="tile-stats espacamentoTVAtacado espacamentoTVAtacadoDentro1">
                            <div class="icon"><i class="fa fa-map-marker"></i></div>
                            <div class="count" style="font-size: 300px" ><center>{{ visAtcMonitor.clientes_cadastrados }}</center></div>
                            <center><h3 style="font-size: 110px">Novos Cadastros / Mês</h3></center>
                            <center><p style="font-size: 60px">Novos cadastros de clientes efetuados no mês</p></center>
                        </div>
                    </div>
                
                    <div ng-show="showPainel == 8" class="animated flipInY col-md-12 col-sm-20 col-xs-12">
                        <div class="tile-stats espacamentoTVAtacado espacamentoTVAtacadoDentro1">
                            <div class="icon"><i class="fa fa-life-saver"></i></div>
                            <div class="count" style="font-size: 300px" ><center>{{ visAtcMonitor.clientes_reativados }}</center></div>
                            <center><h3 style="font-size: 110px">Clientes Reativados / Mês</h3></center>
                            <center><p style="font-size: 60px">Venda para clientes com mais de 90 dias sem comprar</p></center>
                        </div>
                    </div>
                    <!--
                    <div ng-show="showPainel==9" class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-puzzle-piece"></i></div>
                            <div class="count" style="font-size: 300px" ><center>{{ visAtcMonitor.outro_produtos | currency:'R$ '}}</center></div>
                            <center><h3 style="font-size: 110px">Venda Eletro / Mês</h3></center>
                            <center><p style="font-size: 60px">Venda linha eletro </p></center>
                        </div>
                    </div>
                    -->
                </div>
            </div> 
        </div>        
    </div>
</div>
