<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="estoqueReservaController">    
    <div role="main">        
      
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="dashboard_graph">
                    <div class="row x_title">
                        <div class="col-md-6">
                            <h3>Estoque Reserva<small></small></h3>
                        </div>   
                        
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">                       
                            <div class="pull-right " style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">                                   
                                
                                <div class="pull-right"  style="margin: auto" >                                 
                                    <button class="btn btn-round btn-default pull-right" type="button" ng-click="estoqueReservaLojasPesquisa()" ><span class="glyphicon glyphicon-search"style="color:#2A3F54" aria-hidden="true"></span></button> 
                                </div>                                
                            </div>
                        </div>  
                            
                    </div>        
                    
                    <div class="row">
                        <!-- =========================  ========================= -->                        
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="divGeral">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Estoque</h2>
                                   
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <p class="text-muted font-13 m-b-30 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <code ng-if="login.idperfil != '35'">Atenção! Para aquisição de produtos de outros estoques, entrar em contato com a Marizete.</code>
                                    </p>
                                    <div  class="dataTables_wrapper form-inline dt-bootstrap">
                                        <div class="table-responsive">
                                        
                                            <table id="estoqueReserva" class="table display table-striped">
                                                <thead>                                  
                                                </thead>
                                                <tfoot>                            
                                                </tfoot>
                                            </table>
                                        </div>     
                                    </div>
                                        
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <!-- FIM CLASS ROW -->   
                </div>    
                <div class="clearfix"></div>
            </div>
        </div>   
    </div>
    <br/>
</div>  